<div class="container fluid">
  <div class="row">
    <div class="col-4">
        <div class="col-md-3 col-md-pull-9 sectionTabHidden">
            
            


        </div>
    </div>
    <div class="col">
      <h1>Hotel Bob Esponja</h1>
      <p>
        El Intercontinental está situado en la zona de El Poblado y ofrece
        vistas a la ciudad de Medellín. Ofrece alojamientos de lujo, conexión
        WiFi gratuita, un spa y una piscina climatizada semiolímpica. Las
        habitaciones del Hotel Intercontinental son amplias y cuentan con TV LCD
        con canales por cable y conexión gratuita a internet de alta velocidad.
        Algunas incluyen una cocina totalmente equipada y una zona de estar.
        Además, el servicio de habitaciones está disponible todos los días, las
        24 horas. El establecimiento sirve un desayuno buffet abundante en La
        Brasserie. Asimismo, los huéspedes pueden degustar platos a la parrilla
        y pizzas hechas al horno de piedra en el restaurante Fogón de Piedra, o
        bien pueden tomar platos creativos y vinos exquisitos en la enoteca Cava
        Del Inter, que elabora cocina exclusiva. Entre las instalaciones de
        bienestar se incluyen una bañera de hidromasaje, un solárium y una sauna
        seca y de vapor. También hay un gimnasio y varios tratamientos de masaje
        disponibles. Además, el mostrador de información turística puede
        organizar excursiones y actividades por la zona. El hotel se encuentra a
        30 km del aeropuerto José María Córdova y a poca distancia en coche del
        Museo de Antioquía. Se facilita aparcamiento gratuito.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-4"></div>
    <div class="col">
     <h4>Ver fotos del hotel Bob Esponja</h4>
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card h-100">
            <img src="https://firebasestorage.googleapis.com/v0/b/hotelecs-237ca.appspot.com/o/HotelB1.webp?alt=media&token=46d5d044-f486-4cf5-911d-9ea7404b4124" class="card-img-top" alt="..." />
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="https://firebasestorage.googleapis.com/v0/b/hotelecs-237ca.appspot.com/o/hotelB2.jpg?alt=media&token=1ff3d7dc-3e12-4984-9694-0bf42b208ade" class="card-img-top" alt="..." />
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="https://firebasestorage.googleapis.com/v0/b/hotelecs-237ca.appspot.com/o/hotelB3.webp?alt=media&token=de9790c7-e39b-4ebb-a5ad-a3d9ae8db9ce" class="card-img-top" alt="..." />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-4"></div>
    <div class="col">
     <br>
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card h-100">
            <img src="https://firebasestorage.googleapis.com/v0/b/hotelecs-237ca.appspot.com/o/hotelB4.jpg?alt=media&token=2c325ad3-601a-4ede-a755-b473cab432c7" class="card-img-top" alt="..." />
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="https://firebasestorage.googleapis.com/v0/b/hotelecs-237ca.appspot.com/o/hotelBE.jpg?alt=media&token=b0fc5878-b4dc-4a60-a9b3-bab80f1f4cf4" class="card-img-top" alt="..." />
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="https://firebasestorage.googleapis.com/v0/b/hotelecs-237ca.appspot.com/o/bobesponja1.webp?alt=media&token=4908e695-f82f-43fe-81e9-bf1fb6a0870a" class="card-img-top" alt="..." />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
